/*=============================================
=                 NAVIGATION                  =
=============================================*/
$navDropItem : 1/5;
$mobile: 767px;
$tablet: 768px;
$small: 960px;
$large: 1200px;

/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
   -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.4 sans-serif;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: $tablet) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse .inCart {
  width: 20px;
  height: 20px;
  background: #941111;
  display: inline-block;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 16px;
  text-align: center;
  margin-right: -10px;
}

.nav-collapse .fa {
  font-size: 18px;
  padding-right: 10px;
}
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}

$navItem : 1/5;
@media screen and (min-width: $tablet) {
  .nav-collapse li {
    width: percentage($navItem);
  }
}

.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #CA2D33;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
  position: relative;
}

@media screen and (max-width: $mobile) {
  .nav-collapse  {
    ul ul li {
      @include span (1 of 5 no-gutters);
      text-align: center;
    }
    .currency a {
      background: #A62D12;
    }
  }
}
@media screen and (min-width: $tablet) {
  .nav-collapse a {
    margin: 0;
    padding: 10px;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
}

@media screen and (min-width: $tablet) {
  .nav-collapse {
    overflow: visible!important;
    .fa {
      margin-left: -20px;
      visibility: hidden;
    }
    .inCart {
      background: #37302a;
    }
    li:hover{
      & .fa {
        visibility: visible;
      }
      & .inCart {
        background:#fff;
        color: #37302a;
      }
    }
  }
  .nav-collapse a {
    color: #37302a;
    background: #F3F3F3;
  }
  .nav-collapse a:hover {
      color: #fff;
      background: #d30000;
  }
  .nav-collapse ul ul li {
  width: percentage($navDropItem);
  }
  .nav-collapse ul li.lang {
    position: absolute;
    right: 0;
    top: -60px;
    z-index: 9999;
  }
  .nav-collapse ul ul a {
  padding: 10px 0;
  background: #fff;
  }
  .nav-collapse ul ul a:hover {
    background: #7C7C7C;
    }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #d30000; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}

