$susy: (
        columns: 24,
        column-width: 40px,
        gutter-width: 10px,
        gutter-position: inside,
);

@import "susy";
@import "breakpoint";
@import "reset";
@import "normalize";
@import "grids";
@import "font-awesome";
@import "nav";
@import "compass/css3";

$mobile: 767px;
$tablet: 768px;
$small: 960px;
$large: 1200px;

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);
$fontOpenSans: 'Open Sans', sans-serif;
// @import url(http://fonts.googleapis.com/css?family=Exo+2:300,200,500&subset=latin,cyrillic);
$fontExo2: 'Exo 2', sans-serif;

// colors
$lightGreen: #2CFFC4;
$green: #1fa67a;
$white: #ffffff;
$pink: #ff4949;
$red: #d30000;
$lightGray: #CFCFCF;
$gray: #595959;
$black: 000000;
/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */

body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: $fontOpenSans;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #333;
}

a:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

.show {
  display: block !important;
}

.noSelection * {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

@mixin button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: $green;
  //	border: 1px solid #1b926c;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid $white;
  font-family: 'Open Sans', sans-serif;
  min-width: 80px;
}
.btn{
  @include button;
  .fa {
    padding-right: 6px;
  }
}

.btn-send {
}

.btn-Remove {
  background: #595959;
  margin: 6px auto;
  padding: 6px 0;
  width: 100%;
  max-width: 120px;
}

.btn-addMore {
  min-width: 200px;
}

.btn-sendOrder {

}

.btn-buy_cat {
  margin: 0;
  padding: 10px 8px;
  background: #1FA67A;
  color: #FFF;
  border: 0;
}

.btn-buy {
}


.removeButton{
  text-align: center;
}

.addButton {
  text-align: center;
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
}

.share42init {
  text-align: right;
  margin-top: 10px;
}

.highlight{
  background: #F5E0E3!important;
}


/*=============================================
=          GENERAL FOR ALL RESOULUTIONS       =
=============================================*/

/* main all pages container */
.container {
  @include container(100% border-box);
}

/* hide slider for mobile */
.slider {
  display: none;
}

/* sliders css is placed in its own slide css */

//from 0 to 767px - mobile first
@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}

@each $header, $size in (h1: 1em,) {
  #{$header} {
    line-height: $size;
  }
}

.img-responsive {
  //	width: 100%;
  border: 1px $lightGray solid;
  padding: 4px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.truncate {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headLogo {
  width: 180px;
  padding: 12px 0 0 12px;
  position: absolute;
  .logo {
    display: block;
    width: 100%;
  }
}

/* slogan */
.slogan {
  margin-top: 30px;
  color: #CE1418;
  text-align: center;
  padding: 0 10px;
  h1, h2, h3, h4, h5 {
    font-family: $fontExo2;
    font-style: italic;
  }
}

.headline {
  display: block;
  margin: 30px auto;
  border-bottom: 1px solid $lightGray;
  padding-left: 0;
  h1, h2, h3, h4 {
    font-size: 20px;
    margin: 0 0 -1px 0;
    // padding: 0 30px 6px 30px;
    padding: 0 10px 4px 10px;
    display: inline-block;
    border-bottom: 1px solid $red;
    vertical-align: bottom;
    font-weight: 400;
    text-transform: uppercase;
    & > img {
      max-height: 28px;
    }
  }
}

/* news */
.newsBlock {
  margin-bottom: 30px;
  .img-responsive {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .img-news {
    width: 40%;
    max-width: 400px;
    &.pullLeft,
    &.pullRight {
      padding: 10px;
    }
  }
  h3{
    margin-top: 10px;
    text-transform: capitalize;
  }
  h3:after {
    width: 60px;
    height: 1px;
    display: block;
    content: "";
    background: $lightGray;
    position: relative;
    bottom: 0;
    margin: 10px auto 20px;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari */
  }
  p {
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
  }
}

.newsTitle {
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
}

/* items */
.itemBlock {
  @include span(100%);
  margin-bottom: 34px;
  position: relative;
  .itemBlockLink {
    margin: 0 auto;
    width: 90%;
    border: 1px solid $lightGray;
    display: block;
    position: relative;
    font-family: $fontExo2;
    text-align: center;
    .itemPrice {
      position: absolute;
      right: 0;
      .itemPrice-final {
        background: #696969;
        padding: 10px;
        color: $white;
      }
      .itemPrice-old {
        background: $pink;
        padding: 10px;
        color: $white;
        text-decoration: line-through;
      }
      .itemPrice-disc {
        padding: 10px;
        background: $lightGreen;
      }
    }
    .picWrap {
      overflow: hidden;
      padding: 10px 0;
      .picIndex {
        width: 200px;
        height: 200px;
        // margin-left: -50px;
      }
    }
    .stripeWrap {
      .stripeIndex {
        width: 100%;
        display: block;
      }
    }
  }
  h2.itemName,
  h3.itemName {
    @include span(border-box);
    width: 100%;
    margin-left: -1px;
    font-size: 16px;
    padding-left: 10%;
    font-family: $fontExo2;
    font-weight: 100;
  }
  .buyForm {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* on a single item page */
.buyThisItem {
  text-align: center;
  .btn {
    font-size: 16px;
  }
  b{
    padding-left: 10px;
  }
}

/* brands catalog */
.brandModel {
  margin: 0 0 16px 0;
  a {
    overflow: hidden;
    text-align: center;
    display: block;
    .brandPicWrap {
      overflow: hidden;
      position: relative;
      img {
        border-bottom: 1px solid $black;
        display: block;
        margin: 0 auto;
      }
    }
  }
  h2 {
    font-weight: 100;
    padding: 10px 0;
  }
}

/* single model details */
.picsGallery {
  img {
    width: 90%;
    max-width: 460px;
    margin: 30px auto;
    display: block;
  }
  .picsGallery-thumbs, .picsGallery-show {
    overflow: hidden;
    max-width: 550px;
    margin: 0 auto;
  }
  .picsGallery-show {
    display: none;
  }
}

.singleProduct {
  .singleProduct-about {
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

/* contacts */
.contacts {
  padding: 0 0 20px 0;
  margin-top: 30px;
  text-align: center;
  background: $white+-10;
  border-top: 1px solid $white+-50;
  .headline {
    text-align: left;
    h1, h2, h3, h4 {
      border-bottom: 1px solid $white+-100;
    }
  }
  .contactsBlock {
    @include span(100% no-gutters);
    p.contactUs {
      text-align: justify;
      text-indent: 20px;
      padding: 0 10px;
      line-height: 20px;
      font-weight: 100;
      font-size: 14px;
    }
    .contactsSocial {
      margin: 20px 0;
      overflow: hidden;
      .contactsSocial-link {
        @include span(1 of 3);
        .contact-meta {
          display: none;
        }
      }
    }
  }
  .contactsForm {
    .form-name,
    .form-mail,
    .form-mesg {
      background: $white+-5;
      // -webkit-transition: all .2s ease-out;
      // -moz-transition: all .2s ease-out;
      // -o-transition: all .2s ease-out;
      // transition: all .2s ease-out;
      // cursor: default;
      margin-bottom: 5px;
      font-size: 14px;
      border: 1px solid $white+-40;
      color: $gray;
      line-height: 20px;
      width: 90%;
      @include span(border-box);
      float: none;
      padding-left: 10px;
    }
    .form-mesg {
      height: 110px;
    }
    .form-name:focus,
    .form-mail:focus,
    .form-mesg:focus {
      background: $white;
      outline: 0;
      border-color: $pink;
    }
  }
}

/* cart */
.inCart-item {
  @include span(24 border-box);
  margin: 20px 0 20px;
//  border-bottom: 1px solid $white+-70;
  position: relative;
}

.inCart-itemPicture {
  @include span(24);
  img.picIndex {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.inCart-details {
  @include span(24);
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    font-weight: 100;
    li {
      @include span(border-box);
      width: 100%;
      float: left;
      border: 0;
      text-align: left;
      padding: 10px;
      overflow: hidden;
      h4 {
        color: $red;
        text-align: center;
        font-weight: bold;
      }
      h2 {
        text-align: center;
        font-weight: 100;
        margin-bottom: 10px;
        margin-top: 0px;
      }
      .itemPrice-old,
      .itemPrice-disc {
        color: $gray;
      }
      .itemPrice-old {
        text-decoration: line-through;
      }
    }
    .quantity {
      font-size: 22px;
      color: #FFF;
      cursor: pointer;
      background: #A2A2A2;
      width: 30px;
      height: 22px;
      line-height: 18px;
      display: inline-block;
      text-align: center;
      border-radius: 2px;
      .quantity_minus {
        position: relative;
        top: 1px;
      }
    }
    .quantity-select{
      width: 26px;
      text-align: center;
      border: 0;
      border-radius: 5px;
      padding: 6px;
    }
  }
}

.inCart-more {
  width: 100%;
  clear: both;
}

.finalPriceWrap {
  text-align: center;
  margin: 30px auto 0;
  h2 {
    width: 260px;
    border-bottom: 1px solid #18A833;
    margin: 0 auto 3px;
    padding-bottom: 3px;
  }
  span{
    color: $red;
  }
}

/* buy button form */
.buyForm {
  text-align: right;
}

/* order form */
.orderInput {
  input {
    width: 90%;
    margin: 0 auto;
    display: block;
    border: 0;
    border-bottom: 1px solid $gray;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 0;
    padding-left: 10px;
  }
  input:focus {
    outline: 0;
    border-bottom: 1px solid $pink;
  }
}

.sendOrder {
  width: 100%;
  clear: both;
  margin-bottom: 140px;
  .btn-sendOrder {
    margin: 0 auto;
    display: block;
  }
}

.orderForm-delivery {
  @include box-sizing(border-box);
  padding: 40px 20px;
  clear: both;
  .delTypeTitle {
    font-weight: 800;
    margin-bottom: 10px;
  }
  .delType {
    padding: 10px;
  }
  .delCost {
    margin-right: 8px;
  }
  .delWorld {
    display: none;
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
  }
  .delBtn{
    color: $red;
  }
}

.orderForm-info {
  width: 90%;
  margin: 0 auto;
  textarea {
    width: 100%;
    height: 80px;
  }
  textarea:focus {
    outline: 0;
    border: 1px solid $pink;
  }
}

/* about us page*/
.aboutUs {
  h3 {
    text-align: center;
    font-weight: 100;
    margin: 30px 10%;
    letter-spacing: 2px;
    line-height: 22px;
    border-top: 1px $lightGray solid;
    // border-bottom: 1px $lightGray solid;
    padding: 10px;
    text-transform: capitalize;
  }
  p {
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    text-indent: 10px;
    margin: 0 6%;
  }
  h4 {
    text-align: right;
    padding-right: 10%;
    margin: 0 0 20px 0;
  }
}

/* picture Gallery */
.picGallery {
  margin: 20px 0;
  overflow: hidden;
  div {
    @include span(8);
  }
  img {
    border: 1px $lightGray solid;
    padding: 4px;
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

/* all pages footer */
footer {
  @include layout(border-box);
  text-align: center;
  background: $white+-100;
  /* background: #005C96; */
  border-top: 1px solid $white+-10;
  color: $white;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
}

/* 404 */
.error404 {

  img {
    display: block;
    margin: 0 auto;
    padding: 80px 0px;
  }
}

/* pre pay page before checkout*/
.prePay{
  margin-top: 60px;
  &-title{
    @include span(24);
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    font-weight: 800;
    text-transform: capitalize;
  }
  &-data {
    @include span(24);
    text-transform: capitalize;
  }
  input {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .sendOrder {
    padding-top: 30px;
    margin-bottom: 60px;
  }
}

/* sticky footer */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -33px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 33px; /* '.push' must be the same height as 'footer' */
  clear: both;
}



//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
//from 768px to the end
@include breakpoint($tablet) {
  @each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
    #{$header} {
      font-size: $size;
    }
  }
  @each $header, $size in (h1: 1.2em,) {
    #{$header} {
      line-height: $size;
    }
  }
  a, .fa{
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
  a:hover {
    color: $red;
  }
  .btn:hover {
    background: $green+-50;
  }
  .btn-Remove:hover {
    background: $red+20;
  }
  .quantity:hover {
    background: #707070!important;
  }
  .container {
    @include container($tablet);
    padding: 0 10px;
  }
  header {
    .headLogo {
      width: 280px;
      padding: 16px 0 16px 12px;
      position: relative;
    }
  }
  .slider {
    display: block;
  }
  .news {
    .newsBlock {
      @include span(8);
      &:hover {
        h3:after {
          width: 90%;
          background: $red;
        }
      }
    }
    .newsDetailed {
      @include span(24);
    }
  }
  .itemBlock {
    @include span(8);
    .itemBlockLink {
      transition: all 2s;
      -webkit-transition: all 2s; /* Safari */
      .picWrap {
        .picIndex {
          width: 200px;
          height: 200px;
          margin-left: -60px;
        }
      }
      &:hover + h3 {
        color: $red;
      }
      &:hover {
        border-color: $red;
        border-color: $green;
      }
      &:hover .itemName {
        visibility: visible;
      }
    }
  }
  .catalog-brand {
    overflow: hidden;
    .brandModel {
      @include span(8);
    }
  }
  .picsGallery {
    @include span(14);
    span {
      @include span(6);
    }
    .picsGallery-thumbs {
      img {
        border: 1px solid $white+-20;
      }
    }
    .picsGallery-show {
      display: block;
    }
    .singleProductPic {
      margin: 20px auto;
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
  .singleProduct {
    @include span(10);
    padding-left: 6%;
  }
  .contacts {
    .contactsBlock {
      @include span(12);
    }
  }
  .inCart-item {
    @include span(24);
  }
  .inCart-itemPicture {
    @include span(4);
    img.picIndex {
      width: 100%;
    }
  }
  .inCart-details {
    @include span(20);
    ul {
      li {
        width: 20%;
      }
    }
  }
  .orderForm-delivery, .orderForm-note {
  }
  .orderForm-delivery {
    .orderForm-zip,
    .orderForm-country,
    .orderForm-state {
      @include span(8);
    }
  }
  .orderForm-info {
    width: 80%;
    margin: 0 auto;
    textarea {
      width: 100%;
    }
  }
  .orderForm-field {
    @include span(12);
  }
  .btn-Remove {
//    position: absolute;
//    right: 0;
//    bottom: 0;
  }
  .aboutUs {
    h3 {
      margin: 30px 30%;
    }
  }
  /* pre pay page before checkout*/
  .prePay{
    margin-top: 60px;
    &-title{
      @include span(12);
      text-align: right;
    }
    &-data {
      @include span(12);
    }
  }
}

//from 960px to 1200
@include breakpoint($small) {

  @each $header, $size in (h1: 2.2em, h2: 1.5em, h3: 1.2em) {
    #{$header} {
      font-size: $size;
    }
  }

  .container {
    @include container($small);
  }
  .itemBlock {
    @include span(8);
    .itemBlockLink {
      .picWrap {
        .picIndex {
          width: 220px;
          height: 220px;
          margin-left: -50px;
        }
      }
    }
  }
}

// from 1200 final
@include breakpoint($large) {
  .container {
    @include container($large);
  }
  header {
    .headLogo {
    }
  }
  .itemBlock {
    .itemBlockLink {
      .picWrap {
        .picIndex {
          width: 250px;
          height: 250px;
          margin-left: -50px;
        }
      }
    }
  }
}